import React, { useState, useEffect } from "react";
import { api } from "./lib/api-client";

function App() {
  const [message, setMessage] = useState<string>("");

  useEffect(() => {
    api.info.list().then((res) => {
      setMessage(res.data.message);
    });
  }, []);

  return (
    <div>
      <h1>{{.ProjectName}}</h1>
      <p>{message}</p>
      <p>
        Edit <code>src/App.tsx</code> to get started.
      </p>
    </div>
  );
}

export default App;
