{{if .Description}}/**
 * {{.Description}}
 */{{end}}
async ({{.ParameterSignature}}): Promise<AxiosResponse<{{.ResponseType}}>> => {
{{if .HasBodyData}}{{if .HasQueryParams}}  return apiClient.{{.MethodLower}}(`{{.RequestPath}}`, {{.DataParameter}}, { params }){{else}}  return apiClient.{{.MethodLower}}(`{{.RequestPath}}`, {{.DataParameter}}){{end}}{{else}}{{if .HasQueryParams}}  return apiClient.{{.MethodLower}}(`{{.RequestPath}}`, { params }){{else}}  return apiClient.{{.MethodLower}}(`{{.RequestPath}}`){{end}}{{end}}
} 