{{if .Description}}/**
 * {{.Description}}
 */{{end}}
async ({{.ParameterSignature}}): Promise<ApiResult<{{.ResponseType}}>> => {
{{if .HasQueryParams}}  const queryString = params ? buildQueryString(params) : '';
{{end}}{{if .HasBodyData}}  return request<{{.ResponseType}}>(`{{.RequestPath}}{{if .HasQueryParams}}$${queryString}{{end}}`, {
    method: '{{.Method}}',
    body: JSON.stringify({{.DataParameter}}),
  }){{else}}{{if eq .Method "GET"}}  return request<{{.ResponseType}}>(`{{.RequestPath}}{{if .HasQueryParams}}$${queryString}{{end}}`){{else}}  return request<{{.ResponseType}}>(`{{.RequestPath}}{{if .HasQueryParams}}$${queryString}{{end}}`, { method: '{{.Method}}' }){{end}}{{end}}
} 