{{if .Description}}/**
 * {{.Description}}{{if .HasIDParam}}{{if .HasBodyData}}{{if .HasQueryParams}}
 * @param {Object} params - Parameters object
 * @param {number} params.id - Resource ID
 * @param {Object} params.data - Request data
 * @param {Object} params.params - Query parameters{{else}}
 * @param {Object} params - Parameters object
 * @param {number} params.id - Resource ID
 * @param {Object} params.data - Request data{{end}}{{else}}{{if .HasQueryParams}}
 * @param {Object} params - Parameters object
 * @param {number} params.id - Resource ID
 * @param {Object} params.params - Query parameters{{else}}
 * @param {Object} params - Parameters object
 * @param {number} params.id - Resource ID{{end}}{{end}}{{else}}{{if .HasBodyData}}{{if .HasQueryParams}}
 * @param {Object} params - Parameters object
 * @param {Object} params.data - Request data
 * @param {Object} params.params - Query parameters{{else}}
 * @param {Object} params - Parameters object
 * @param {Object} params.data - Request data{{end}}{{else}}{{if .HasQueryParams}}
 * @param {Object} params - Parameters object
 * @param {Object} params.params - Query parameters{{end}}{{end}}{{end}}
 * @returns {Promise<{success: boolean, data?: any, error?: any}>} API response
 */{{else}}/**{{if .HasIDParam}}{{if .HasBodyData}}{{if .HasQueryParams}}
 * @param {Object} params - Parameters object
 * @param {number} params.id - Resource ID
 * @param {Object} params.data - Request data
 * @param {Object} params.params - Query parameters{{else}}
 * @param {Object} params - Parameters object
 * @param {number} params.id - Resource ID
 * @param {Object} params.data - Request data{{end}}{{else}}{{if .HasQueryParams}}
 * @param {Object} params - Parameters object
 * @param {number} params.id - Resource ID
 * @param {Object} params.params - Query parameters{{else}}
 * @param {Object} params - Parameters object
 * @param {number} params.id - Resource ID{{end}}{{end}}{{else}}{{if .HasBodyData}}{{if .HasQueryParams}}
 * @param {Object} params - Parameters object
 * @param {Object} params.data - Request data
 * @param {Object} params.params - Query parameters{{else}}
 * @param {Object} params - Parameters object
 * @param {Object} params.data - Request data{{end}}{{else}}{{if .HasQueryParams}}
 * @param {Object} params - Parameters object
 * @param {Object} params.params - Query parameters{{end}}{{end}}{{end}}
 * @returns {Promise<{success: boolean, data?: any, error?: any}>} API response
 */{{end}}
async ({{.ParameterSignatureJS}}) => {
{{if .HasQueryParams}}  const queryString = params ? buildQueryString(params) : '';
{{end}}{{if .HasBodyData}}  return request(`{{.RequestPath}}{{if .HasQueryParams}}${queryString}{{end}}`, {
    method: '{{.Method}}',
    body: JSON.stringify(data),
  }){{else}}{{if eq .Method "GET"}}  return request(`{{.RequestPath}}{{if .HasQueryParams}}${queryString}{{end}}`){{else}}  return request(`{{.RequestPath}}{{if .HasQueryParams}}${queryString}{{end}}`, { method: '{{.Method}}' }){{end}}{{end}}
} 